@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap');
:root {
  --theme: #14274f;
  --theme2: #8efbe2;
  --bg: #f8f9fa;
  --remove: #c51919;
  --aqua: #02f5c3;
  --cart: #01d7aa;
  --white: #ffffff;
  --black: #000000;
  --gray: #3c4146;
  --size: 5rem;
  --fontSize: calc(var(--size) * 0.5);
  --activeColor: #27ae60;
  --darkenColor: darken($activeColor, 20%);
  --background: #3498db;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.update-form .button-submit button {
  color: #fff;
  background: var(--theme);
  padding: 15px 0;
}

p .fas {
  margin-right: 10px;
}
p svg {
  margin-right: 10px;
}

p {
  margin: 0 !important;
  font-size: 17px !important;
  font-family: 'verdana', sans-serif;
}
button {
  padding: 0;
  background: transparent;
  border: none;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  padding: 0 !important;
}
.custom-theme-button {
  background: var(--theme);
  padding: 15px 40px;
  border-radius: 30px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid var(--theme);
  font-size:18px
}
.custom-theme-button:hover{
  background: transparent;
  color: var(--theme);
}
.custom-outline-button {
  background: transparent;
  padding: 15px 40px;
  border-radius: 30px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  color: var(--theme);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid var(--theme);
}
.custom-outline-button:hover{
  background: var(--theme);
  color:#fff
}
button:disabled.plus,
button:disabled.minus {
  color: #909092 !important;
  cursor: default !important;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link {
  color: #000 !important;
}
.navbar-dark .navbar-nav .dropdown-menu button {
  text-align: start;
  padding: 10px 15px !important;
}
.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover {
  background: var(--theme);
  color: #fff !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 60px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}

.empty-cart {
  background-image: url('../public/images/empty-cart.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart a {
  text-decoration: none;
  background: var(--theme2);
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid var(--theme2);
  display: inline-block;
}

div.empty-cart * {
  margin-bottom: 20px;
}
/* cart items increase decrease */
.wrap {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrap .numbers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .numbers .minus,
.wrap .numbers .plus {
  font-size: 20px;
  color: var(--theme);
  position: relative;
  margin: 0;
  cursor: pointer;
}
.wrap .numbers .minus .fas,
.wrap .numbers .plus .fas {
  margin: 0;
  font-size: 25px;
}
.wrap .numbers .box {
  margin: 0 0.5rem;
  background-color: var(--theme);
  box-shadow: inset 0 0.125rem 0.25rem #12171c;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .numbers .box .number {
  min-width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 20px;
}
/* cart items increase decrease */
/* cart css */
.cart_wrapper {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  height: fit-content;
}
.cart_wrapper .cart_lists {
  padding: 30px;
}
.cart_wrapper .cart_lists .td-item {
  margin: 0;
}
.cart_wrapper .cart_responsive {
  background: var(--bg);
  padding: 20px;
  margin: 50px 0;
  border-radius: 10px;
}
.cart_wrapper .cart_lists .cart_title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  height: 50px;
  color: var(--theme);
}
.cart_wrapper .cart_lists .cart_title span {
  margin-right: 8px;
  padding-right: 8px;
  line-height: 18px;
  border-right: solid 2px #ddd;
}
.cart_wrapper .cart_lists .cart_list_wrap {
  padding: 20px 0;
  overflow: hidden;
}
 .slanted {
  position: relative;
  background: var(--theme);
  z-index: 1;
  transition: all 0.5s ease-in;
  color: #fff !important;
}
.order-steps .nav-link{
  color: var(--theme);
  font-size: 24px;
  font-weight: 600;
}
.slanted::after {
  position: absolute;
  content: '';
  top: 0;
  right: -10px;
  width: 20px;
  height:100%;
  background: var(--theme);
  transform: skewX(-20deg);
  z-index: 2;
  overflow: hidden;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item {
  align-items: center;
  transition: all 0.3s linear;
  margin: 40px 0;
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .item_name {
  padding-left: 10px;
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .td_item a {
  text-decoration: none;
  color:var(--theme)
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .item_name h5 {
  color: var(--black)
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .item_name h5:hover {
  color: var(--theme);
  cursor: pointer;
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .item_price {
  text-align: center;
  color: var(--theme);
  font-size: 18px;
  font-weight: 500;
}
.cart_lists .cart_list_wrap .cart_responsive .tr_item .item_remove button {
  color: var(--remove);
  cursor: pointer;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 5px;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart-footer .cart-total {
  text-align: center;
  color: var(--theme);
  font-size: 30px;
  font-weight: 600;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart-footer .cart-total-title {
  text-align: right;
  color: var(--theme);
  font-size: 30px;
  font-weight: 600;
}
/* cart css */
/* warning */
.wrapper .wrappercard {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.wrapper .wrappercard .wrappersubject p {
  color: #909092;
}
.wrapper .wrappercard .wrappersubject {
  width: 90%;
  text-align: center;
}
.wrapper .wrappercard .wrappericon {
  font-size: 28px;
  width: 5%;
}
.wrapper-warning .wrappercard .wrappericon {
  color: #fdc220;
}
.wrapper-success .wrappercard .wrappericon {
  color: #43d761;
}
.wrapper-danger .wrappercard .wrappericon {
  color: #ee3022;
}
.wrapper-warning .wrappercard {
  border-left: 5px solid #fdc220;
}
.wrapper-success .wrappercard {
  border-left: 5px solid #43d761;
}
.wrapper-danger .wrappercard {
  border-left: 5px solid #ee3022;
}
.wrapper .wrappercard .wrappericon-times {
  font-size: 28px;
  color: #c3c2c7;
  cursor: pointer;
  width: 5%;
}
/* warning */
.home-section{
  flex-grow: 1;
}
.section-padding {
  padding: 50px 0;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
}
.section-padding .checkout-wrapper{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  height: fit-content;
}
.section-padding .checkout-wrapper .checkout-info{
  padding: 30px;
}
.home-loader-size {
  height: 100px;
}
.review-rating {
  margin-left: 10px;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-page .row h2 {
  padding: 50px 0;
}

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

/* My Orders page */

section.my-orders {
  padding: 100px 0;
  box-sizing: border-box;
  min-height: 88vh;
}
section.my-orders h2{
  padding-top: 50px;
}

section.my-orders .row {
  margin: 0 !important;
}

section.my-orders .heading {
  padding: 20px 10px;
}

section.my-orders .order-body {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

section.my-orders .order-body .heading,
section.my-orders .order-body .order-list,
section.my-orders .order-body .footing {
  padding: 40px 50px;
}

section.my-orders .order-body .strong {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
section.my-orders .order-body .btn-effect {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 15px;
}
section.my-orders .order-body .order-item-border {
  border-top: 1px solid rgb(173 173 173 / 27%);
}

section.my-orders .order-body .qty-price {
  font-size: 20px;
}

section.my-orders .order-body .qty-price > * {
  margin-right: 20px;
}
section.my-orders .footing .order-total {
  font-size: 30px;
  font-weight: 600;
  color: #ff7800;
}

section.my-orders .footing .cancel-order {
  border-right: 1px solid rgb(173 173 173 / 27%);
}

.navbar {
  padding: 10px !important;
}
.custom-bg-theme {
  background-color: var(--theme);
}
.navbar-brand {
  padding: 0 !important;
}

.navbar-brand img {
  width: 260px;
  height: 60px;
  object-fit: cover;
}

.card-body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 40px;
}
/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px 0;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree::after {
  content: 'NO';
  color: rgb(185, 76, 76);
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree::before {
  content: 'YES';
  color: var(--activeColor);
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 0;
}
.slideThree input[type='checkbox'] {
  visibility: hidden;
}
.slideThree input:checked + label {
  left: 43px;
}
/* end .slideThree */

.button-submit {
  margin-top: 30px;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox > * {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
  width: 100%;
}

.column-10 {
  width: 10%;
}
.column-20 {
  width: 20%;
}
.column-30 {
  width: 30%;
}
.column-33{
  width: 33.33%;
}
.column-40 {
  width: 40%;
}
.column-50 {
  width: 50%;
}
.column-60 {
  width: 60%;
}
.column-66 {
  width: 66.67%;
}
.column-70 {
  width: 70%;
}
.column-80 {
  width: 80%;
}

.column-90 {
  width: 90%;
}

.column-100 {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}
.px-10 {
  padding: 0 10px;
}

.px-20 {
  padding: 0 20px;
}

.px-30 {
  padding: 0 30px;
}

.px-40 {
  padding: 0 40px;
}

.px-50 {
  padding: 0 50px;
}

.py-10 {
  padding: 10px 0;
}

.py-20 {
  padding: 20px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-40 {
  padding: 40px 0;
}

.py-50 {
  padding: 50px 0;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}
.mx-10 {
  margin: 0 10px;
}

.mx-20 {
  margin: 0 20px;
}

.mx-30 {
  margin: 0 30px;
}

.mx-40 {
  margin: 0 40px;
}

.mx-50 {
  margin: 0 50px;
}

.my-10 {
  margin: 10px auto;
}

.my-20 {
  margin: 20px auto;
}

.my-30 {
  margin: 30px auto;
}

.my-40 {
  margin: 40px auto;
}

.my-50 {
  margin: 50px auto;
}

header nav .nav-link {
  color: #fff !important;
}
nav .nav-item {
  margin-left: 20px;
}

nav .nav-item button {
  font-size: 16px;
}

.login-register-body {
  padding: 50px;
}

.login-modal {
  background: #fff;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 58px;
  right: 0px;
  background: var(--theme);
}
.close-modal button {
  padding: 5px 15px;
  color: #fff;
}
.login-modal button {
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.login-modal button[type='submit'] {
  border: 2px solid var(--theme);
  color: #fff;
  background: var(--theme);
}

.input-box {
  margin-top: 30px;
}

.input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-right: none;
}

.input-field input {
  width: 100%;
  border-width: 1px;
  border-left: none;
  height: 60px;
  outline: none;
}
.input-field input[type='file'] {
  border: 1px solid #000;
  height: 100%;
}

.input-toggle-password {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-left: none;
  padding: 0 !important;
}

.login-modal .forgot-password a {
  font-size: 18px;
}


/* product page css */

section.product-page .star-box input[type="radio"]{
  display: none;
}
section.product-page .star-box .rate{
  cursor: pointer;
  transition: 200ms;
}
section.product-page .review-form{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}
section.product-page .review-form .comment-box textarea{
  margin: 20px 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}
section.product-page .product-reviews{
  padding: 0;
}
section.product-page .product-reviews .review-head{
  display: flex;
  align-items: center;
  padding-bottom:20px;
  border-bottom: 1px solid var(--theme);
}
section.product-page .product-reviews .review-item > *{
  margin-bottom:20px;
}
section.product-page .product-reviews .review-item{
  padding: 20px 20px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 20px ;
}
section.product-page .product-reviews .review-head .review-user-photo{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
section.product-page .product-reviews .review-head .review-user-name{
  font-size: 20px;
  font-weight: 600;
  color: var(--theme);
}
section.product-page .product-reviews .review-head .review-date, section.product-page .product-reviews .review-head .review-user-info {
  width: 50%;
}
section.product-page .product-reviews .review-head .review-date{
  text-align:right;
}

footer.footer-sticky{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-inner{
  background:var(--gray);
  height: 600px;
}
.carousel-inner .carousel-item{
  padding: 30px;
  height: 100%;
  align-items: center;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

